<p id="notice"><%= notice %></p>

<div align="center">
	<h1>All Articles</h1>
</div>

<br/><br/>
<!-- This is the search box where the user can search articles -->
<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
  <%= submit_tag "Search" %>
<% end %>
<br/><br/>


<%= will_paginate @articles %>
<% @articles.each do |article| 
	@source = Source.find(article.source_id).name %>

		  <div class="panel panel-info">
		    <div class="panel-heading">
		      <h3 class="panel-title"><b><%= article.title %></b> - <%= article.pub_date %></h3>
		    </div>

		    <div class="panel-body">
				<p>Source : <%= @source %> </p>

				<% if article.author %>
				<p>Authored By : <%= article.author %> </p>
				<% end %>

				<% if article.summary %>
			    <p>Summary : <%= article.summary %> </p>
				<% end %>

			    <p>Link : <a href = <%= article.link %> > <%= article.link %> </a> </p>

			    <p>Tags : <%= article.tag_list %> </p>

				<% if article.img %>
			    <img height = "75" width = "100" src = <%= article.img %> >
				<% end %>

			 </div>
		  </div>
<% end %>
