<p id="notice"><%= notice %></p>

<div align="center">
	<h1>All Articles</h1>
	<%= link_to "Click me to get the latest news!", refresh_path, method: :get, class:'btn btn-success' %>
</div>

<br/><br/>


<% @article_sources.each do |article_source| 
	article_source[0].each do |article| %>

		  <div class="panel panel-info"> 
		    <div class="panel-heading">
		      <h3 class="panel-title"><b><%= article.title %></b> - <%= article.pub_date %></h3> 
		    </div>

		    <div class="panel-body">
				<p>Source : <%= article_source[1] %> </p>

				<% if article_source[1] == "The Guardian" %>
				<p>Category : <%= article.category_name %> </p> 
				<% end %>

				<% if article.author %>
				<p>Authored By : <%= article.author %> </p>
				<% end %>
				
				<% if article.summary %>
			    <p>Summary : <%= article.summary %> </p>
				<% end %>
			    
			    <p>Link : <a href = <%= article.link %> > <%= article.link %> </a> </p>

			    <p>Tags : <%= article.tag_list %> </p>

				<% if article.img %>
			    <img height = "75" width = "100" src = <%= article.img %> > 
				<% end %>

			 </div>
		  </div>

	<% end %>
<% end %>